
.body {
    background: no-repeat;
    background-size: cover;
}

.standingcss {
    margin-left: 10%;
    table-layout: fixed;
    width: 1000px;
    background-color: rgb(0, 0, 0,0.6);
    color: white;
    font-size: 2em;
    border-collapse: collapse;
}

.btn{
    border: none;
    background-color: transparent;
    margin-left: 15%;
}

th, td { 
    width:25%; 
    text-align:center; 
    padding:5px ;
    border-bottom: 2px solid rgb(120, 180, 214);
    border-bottom-width: 15%;
}
.number {
    color: white;
    size: 3em;
}

.name {
    color: white;
    size: 3em;
}

.score {
    color: white;
    size: 3em;
}